.navbar {
    background:rgb(35, 36, 42);
    height: 6.5rem;
    border-bottom: 1px solid rgb(81, 81, 81);
}

.navbar-link {
    margin-right: 35px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 6.5rem;
}
body {
    background: rgb(35, 36, 42);
    overflow-y: overlay;
    overflow-x: hidden;
}

.navbar-input {
    float: right;
    margin-top: 1.25rem;
}

h1, h2, h3, h4, h5 {
    color: rgb(255, 255, 255);
}

p {
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.army-link {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.army-link > a {
    text-decoration: none;
}

.hr-label {
    margin-bottom: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 15px;
}

table {
    border-collapse: collapse;
}

/* Generic box with a grey background and a border. */
.box {
    background-color: rgb(50, 53, 66);
    border: 2px solid rgb(81, 81, 81);
    margin-bottom: 10px;
}

.box-link:hover {
    border: 2px solid rgb(221, 221, 221);
}

.box-passive {
    background-color: rgb(41, 41, 41);
}

.box-dispatch {
    background-color: rgb(33, 51, 130);
    border-color: rgb(49, 73, 182);
    max-width: 550px;
}

/* The overview-box describes the big floating info box on the left size of each page */
.overview-box  {
    display: inline-block;
    float: right;
    width: 280px;
    margin-left: 15px;
}

.overview-box > table {
    margin: 0 10px;
}

.overview-box > table > tbody > tr > td {
    width: 50%;
    color: white;
    border-bottom: none;
    padding: 8px 8px;
}

.overview-box > table > tbody > tr > td:nth-child(2) {
    font-weight: 200;
}

.overview-box > table > tbody > tr {
    border-top: 2px solid  rgb(81, 81, 81);
}


.info-box {

}

span {
    font-weight: 400;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #0FA0CE;
}

/* Command points orange text */
.cp-text {
    position: absolute;
    color: orange;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 100%;
    text-align: center;
    top: 37px;

    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000,
    0px 0px 10px #000;
}