.navbar {
    background:rgb(35, 36, 42);
    height: 6.5rem;
    border-bottom: 1px solid rgb(81, 81, 81);
}

.navbar-link {
    margin-right: 35px;
    font-size: 14px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    line-height: 6.5rem;
}
body {
    background: rgb(35, 36, 42);
}

.navbar-input {
    float: right;
    margin-top: 1.25rem;
}

h1, h2, h3, h4, h5 {
    color: rgb(255, 255, 255);
}

p {
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.army-link {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.army-link > a {
    text-decoration: none;
}

.hr-label {
    margin-bottom: 0;
}

hr {
    margin-top: 0;
    margin-bottom: 15px;
}

.infobox {
    display: block;
    float: right;
    background-color: rgb(50, 53, 66);
    width: 280px;
    height: 400px;
    border: 2px solid rgb(81, 81, 81);
    margin-left: 15px;
}

table {
    border-collapse: collapse;
}

.infobox > table {
    margin: 0 10px;
}

.infobox > table > tbody > tr > td {
    width: 50%;
    color: white;
    border-bottom: none;
    padding: 8px 8px;
}

.infobox > table > tbody > tr > td:nth-child(2) {
    font-weight: 200;
}

.infobox > table > tbody > tr {
    border-top: 2px solid  rgb(81, 81, 81);
}

span {
    font-weight: 400;
}

.link {
    text-decoration: none;
}

.link:hover {
    color: #0FA0CE;
}